
.vs/slnx.sqlite
.vs/ProjectSettings.json
.vs/sg2calendar/config/applicationhost.config
.vs/sg2calendar/v16/.suo
data_backup.js
.vs/VSWorkspaceState.json
.vs/sg2calendar.github.io/config/applicationhost.config
.vs/sg2calendar.github.io/v16/.suo
.vs/tasks.vs.json
data_gooo.js
data_test.js
data1.js
images/logo__.png
oembed.json
